version: "3.9"

services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    image: idreesahmed396/devops-portfolio:latest
    container_name: devops-portfolio
    ports:
      - "8080:80"
    restart: unless-stopped

