name: CI/CD Portfolio

on:
  push:
    branches: [main]       # Run when you push to master
  pull_request:
    branches: [main]       # Run for pull requests
  workflow_dispatch:         # Optional: allows manual trigger

jobs:
  build-and-deploy:
    runs-on: self-hosted   # Use self-hosted runner

    steps:
      # 1. Checkout your repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Build Docker image
      - name: Build Docker image
        run: |
          docker build -t idreesahmed396/devops-portfolio:latest .

      # 4. Push Docker image to Docker Hub
      - name: Push Docker image
        run: |
          docker push idreesahmed396/devops-portfolio:latest
       # 5. Install kubectl
      - name: Install kubectl
        run: sudo snap install kubectl --classic

      # 6. Set up kubeconfig (your k3s master)
      - name: Set kubeconfig
        run: |
          mkdir ~/.kube
          echo "${{ secrets.K3S_KUBECONFIG }}" > ~/.kube/config

      # 7. Restart deployment so it pulls latest image
      - name: Restart portfolio deployment
        run: |
          kubectl rollout restart deployment portfolio -n default
      

