name: CI/CD Portfolio

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Install Docker
      - name: Install Docker
        run: |
          sudo apt update
          sudo apt install -y docker.io
          docker --version

      # 3. Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4. Build Docker image
      - name: Build Docker image
        run: |
          docker build -t idreesahmed396/devops-portfolio:latest .

      # 5. Push Docker image
      - name: Push Docker image
        run: |
          docker push idreesahmed396/devops-portfolio:latest

      # 6. Install kubectl
      - name: Install kubectl
        run: sudo snap install kubectl --classic

      # 7. Set kubeconfig
      - name: Set kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.K3S_KUBECONFIG }}" > ~/.kube/config

      # 8. Restart deployment
      - name: Restart portfolio deployment
        run: |
          kubectl rollout restart deployment portfolio -n default


